*{
    margin: 0;
    padding: 0;
}
.main_div{
    width: 1200px;
    border: solid 2px blue;
    margin: 0 auto;
}
h1{
    text-align: center;
}

.images_div img{
    width: 200px;
    height: 200px;
    padding: 20px 90px;
    float: left;   
}
.text_div{
    text-align: justify;
    text-indent: 2em;
    padding: 10px;
}
.text_div img{
    width: 200px;
    height: 125px;
    float: left;
}
